@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to top, rgba(30,35,38,0.8), rgba(30,35,38,1)), url(../img/fondo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

*{
  box-sizing: border-box;
  font-family: "word Sans, sans-serif";
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;

}

.container-header {
  background: black;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}


.container-header header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}


.container-header header .logo a {
  font-family: 'Righteos';
  font-size: 20px;
  color: #1cb698;
  text-decoration: none;
}


.container-header header ul {
  display: flex;
  list-style: none;
}


.container-header header nav ul li a {
  text-align: center;
  color: #fff;
  margin: 0 15px;
  padding: 3px;
  transition: 0.5s;
  text-decoration: none;
}


.container-header header nav ul li a:hover {
  color: #1cb698;
}

section {
  margin-top: 80px;
}

.curriculum {
  color: #fff;
  padding: 50px 20px;
}

.curriculum .container-section {
  max-width: 1100px;
  margin: auto;
}

.curriculum h2 {
  font-size: 48px;
  text-align: center;
  padding: 20px 0;
}

.curriculum .fila {
  display: flex;
}

.curriculum .fila .col {
  width: 49%;
  padding: 0 20px;
}

.curriculum .fila .col h3 {
  font-size: 28px;
  margin-bottom: 25px;
}

.curriculum .fila.izq {
  border-right:  solid #ebcbcb;
}

.curriculum .fila.der {
  border-left:  solid #bcb4b4;
}

.curriculum .fila .item {
  padding: 25px;
  margin-bottom: 30px;
  background-color: #252525;
  position: relative;
}

.curriculum .fila .item h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.curriculum .fila .item .casa {
  color: #4faca7;
  font-size: 22px;
  font-weight: bold;
  display: block;
}

.curriculum .fila .item .fecha {
  display: block;
  color: #1cb698;
  margin-bottom: 10px;
}

.curriculum .fila .item p {
  line-height: 24px;
}

.curriculum .fila.izq {
  border-right: 2px solid #389784;
}

.curriculum .fila.der {
  border-left: 2px solid #1cb698;
}

.curriculum .fila .item .conectori {
  height: 2px;
  background-color: #257465;
  width: 47px;
  position: absolute;
  top: 50px;
  right: -47px;
  z-index: 5;
}

.curriculum .fila .item .conectori::after {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #5dbdaa;
  margin: 0 auto;
  position: relative;
  bottom: 4px;
}